@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes sideUp {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans", sans-serif;
}

body {
  color: #111517;
}

.container-1440 {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1) !important;
}
.btn:hover {
  background-color: #ccc;
}

#header {
  margin: 0 auto;
  width: 1440px;
  height: 80px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 0 80px;
  display: flex;
  align-items: center;
  z-index: 9999999;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#header .heading {
  font-size: 24px;
}
#header .dark-mode-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  box-shadow: none !important;
}
#header .dark-mode-btn .light-mode-desc {
  display: none;
}
#header .dark-mode-btn .dark-mode-icon {
  display: flex;
  align-items: center;
  margin-right: 6px;
  animation: fadeIn 0.5s, sideUp 0.5s;
}
#header .dark-mode-btn .light-mode-icon {
  align-items: center;
  margin-right: 6px;
  Color: #fff;
  display: none;
  animation: fadeIn 0.5s, sideUp 0.5s;
}

.container-1440 {
  background-color: #fafafa;
  padding-top: 46px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.container-1440 .header {
  height: 58px;
  margin: 0 80px 46px;
  display: flex;
}
.container-1440 .header__search {
  height: 100%;
  width: 480px;
  padding-left: 32px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 4px #f2f2f2;
  border-radius: 5px;
  transition: all 0.15s;
}
.container-1440 .header__search-icon {
  margin-right: 24px;
  font-size: 20px;
}
.container-1440 .header__search input[name=search] {
  border: none;
  outline: none;
  width: 100%;
  padding-right: 32px;
  background-color: transparent;
  transition: all 0.15s;
}
.container-1440 .header .filter-menu {
  width: 200px;
  margin-left: auto;
  padding: 0 24px;
  background-color: #fff;
  position: relative;
  box-shadow: 1px 1px 4px #f2f2f2;
  border-radius: 5px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.container-1440 .header .filter-menu__title {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  font-weight: 600;
}
.container-1440 .header .filter-menu__title .nav-icon {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 18px;
  transition: transform 0.3s;
}
.container-1440 .header .filter-menu__title:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: transparent;
}
.container-1440 .header .filter-menu__title:hover {
  cursor: pointer;
}
.container-1440 .header .filter-menu__title:hover + .filter-nav {
  cursor: pointer;
  display: block !important;
}
.container-1440 .header .filter-menu .filter-nav {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: #fff;
  padding-left: 0;
  overflow: hidden;
  box-shadow: 1px 1px 4px #f2f2f2;
  border-radius: 5px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.container-1440 .header .filter-menu .filter-nav:hover {
  display: block;
}
.container-1440 .header .filter-menu .filter-nav__item {
  list-style: none;
  padding: 8px 24px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.container-1440 .header .filter-menu .filter-nav__item:first-child {
  padding-top: 14px;
}
.container-1440 .header .filter-menu .filter-nav__item:last-child {
  padding-bottom: 14px;
}
.container-1440 .header .filter-menu .filter-nav__item:hover {
  background-color: #ccc;
  cursor: pointer;
}

.container-1440 {
  margin-top: 2px;
}
.container-1440 > .row {
  padding: 0 42px;
}
.container-1440 > .row .col-3 .country {
  padding: 0 38px;
  margin-bottom: 76px;
}
.container-1440 > .row .col-3 .country__ensign {
  width: 264px;
  height: 160px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  object-fit: cover;
}
.container-1440 > .row .col-3 .country__info {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  background-color: #fff;
  padding-left: 24px;
  padding-bottom: 40px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 14px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.container-1440 > .row .col-3 .country__info .name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 16px;
}
.container-1440 > .row .col-3 .country__info .info {
  font-weight: 400;
}

.detail-container {
  padding: 80px;
  background-color: #fff;
}
.detail-container .btn.back-btn {
  width: 136px;
}
.detail-container .btn.back-btn .back-btn-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.detail-container .country {
  display: flex;
  margin-top: 80px;
}
.detail-container .country__img {
  width: 560px;
  height: 400px;
}
.detail-container .country__info {
  margin-left: 120px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.detail-container .country__info-name {
  font-weight: 700;
  margin-bottom: 32px;
}
.detail-container .country__info > .row {
  width: 100%;
}
.detail-container .country__info .info-content {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-size: 16px;
}
.detail-container .country__info .info-content .desc {
  font-weight: 600;
  margin-bottom: 12px;
}
.detail-container .country__info .info-content .desc .info {
  font-weight: 400;
  color: #3f3f3f;
}
.detail-container .country__info .border-country {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 36px;
  font-weight: 600;
}
.detail-container .country__info .border-country-desc {
  margin-right: 8px;
}
.detail-container .country__info .border-country-btn {
  height: 28px;
  margin: 0 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes sideUp {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}
.dark-mode {
  color: rgba(255, 255, 255, 0.8);
}
.dark-mode .btn {
  color: rgba(255, 255, 255, 0.8);
}
.dark-mode #header {
  background-color: #2b3945;
}
.dark-mode #header .dark-mode-btn .dark-mode-icon {
  display: none;
}
.dark-mode #header .dark-mode-btn .light-mode-icon {
  display: flex;
}
.dark-mode #header .dark-mode-btn .dark-mode-desc {
  display: none;
}
.dark-mode #header .dark-mode-btn .light-mode-desc {
  display: block;
}
.dark-mode .container-1440 {
  margin-top: 0;
  background-color: #202c37;
}
.dark-mode .container-1440 .header__search input[name=search] {
  color: rgba(255, 255, 255, 0.8);
}
.dark-mode .container-1440 .header__search input[name=search]::placeholder {
  Color: rgba(255, 255, 255, 0.3);
}
.dark-mode .container-1440 .header__search,
.dark-mode .container-1440 .filter-menu {
  background-color: #2b3945;
  box-shadow: 1px 1px 4px #1a2632;
  border-radius: 5px;
}
.dark-mode .container-1440 .header__search .filter-nav,
.dark-mode .container-1440 .filter-menu .filter-nav {
  background-color: #2b3945;
  box-shadow: 1px 1px 4px #1a2632;
  border-radius: 5px;
}
.dark-mode .container-1440 .header__search .filter-nav__item:hover,
.dark-mode .container-1440 .filter-menu .filter-nav__item:hover {
  background-color: rgba(26, 38, 50, 0.7);
}
.dark-mode .container-1440 .country__info {
  background-color: #2b3945 !important;
}
.dark-mode .detail-container {
  margin-top: 0;
  min-height: 100vh;
}
.dark-mode .detail-container .btn {
  background-color: #2b3945;
  box-shadow: 1px 1px 2px #1a2632, -1px -1px 2px #1a2632 !important;
}
.dark-mode .detail-container .btn:hover {
  background-color: rgba(26, 38, 50, 0.7);
}
.dark-mode .detail-container .country__info {
  background-color: transparent !important;
}
.dark-mode .detail-container .info {
  color: rgba(255, 255, 255, 0.6) !important;
}

/*# sourceMappingURL=style.css.map */
